<div>
  <h3>Edit</h3>
  <br/>
</div>
<br/>
<div class="myBorder4">
  <p>
    Role Tittle
    <br/>
    <input ng-model="titleEdit" id="title" ng-required="true" maxlength="30" type="text" placeholder="{{currentRole.name}}">
  </p>

  <p>
    User (ID)
    <br/>
    <input ng-model="userIdEdit" id="user" ng-required="true" value="{{currentRole.UserId}}" maxlength="10" type="text"placeholder="{{currentRole.UserId}}">
  </p>

  <p>
    Project (ID)
    <br/>
    <input ng-model="projectIdEdit" id="project" value="{{currentRole.ProjectId}}" type="text" maxlength="60" placeholder="{{currentRole.ProjectId}}">
  </p>

</div>
<div>
  <p>
    <br/>
    <a class="btn btn-lg btn-success" ng-href="#/roles/:{{currentRole.id}}" ng-click="myEdit(currentRole.id, titleEdit,userIdEdit,projectIdEdit)">
      Validate
    </a>
  </p>

</div>
