<div class="alert alert-{{status}}">
  {{message}}
</div>

<div class="myBorder3">
  <h3>Search</h3>

  <input ng-model="searchText"/> <span class="glyphicon glyphicon-search"></span>

</div>

<div>
  <br/>

  <h3>Role list- {{count}} element(s)</h3>

  <ul>
    <li class="myList" ng-repeat="role in roles | filter : searchText">
      <span class="glyphicon glyphicon-star"></span>
      <a href="#/roles/:{{role.id}}" class="myRef">
        {{role.name}}
      </a>
    </li>
  </ul>

  <br/>
  <p><a class="btn btn-lg btn-success" ng-href="#/addR">Add a role</a></p>
</div>



